# ------------------------
# Python virtual environments
# ------------------------
.venv/
venv/
# env/
# ENV/
*.egg-info/
build/
dist/

# Do NOT ignore our env/ folder that contains requirements & setup scripts
!env/requirements.txt
!env/setup_venv.sh
!env/R_packages.R

# ------------------------
# Python cache and temp files
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle

# ------------------------
# R cache files
# ------------------------
.Rhistory
.RData
.Rproj.user/

# ------------------------
# Jupyter Notebook
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Editor / system files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Results and simulation output
# ------------------------
results/*
!results/README.md

temp_results/*



# ------------------------
# Data
# ------------------------

data/simulation/*
data/riboflavin/*
data/rosmap/*
data/rosmap_methy/*


!data/simulation/generate_linear_data.py
!data/simulation/generate_nonlinear_additive_data.py
!data/simulation/generate_nonlinear_nonadditive_data.py

!src/python/adamp/third_party/
!src/python/adamp/third_party/stability_selection/**

# Local publishing instructions
/PUBLISHING.md
